.btn-info {
    color: #fff;
    background-color: #006699;
}

.btn-info:hover {
    background-color: #70AB35;
}

a {
    color : #006699;
}

a:hover {
    color : #70AB35;
}

.timeline-card-info:before {
    border-color : #006699;
}

.timeline-card-success:before {
    border-color : #70AB35;
}